<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family tree</title>
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/887c56acc8.js" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
</head>
<body>
    
      <div class="search-input">
                <div class="search-box">
                    <input type="text" id="link-input">
                    <span id="search-btn"><i class="fas fa-search"></i></span>
                    <p>Lien non valide</p>
                    <div class="loading">
                        <img src="../static/images/load.gif" alt="">
                    </div>
                </div>
            </div>

        <div class="container"></div>
    
    <div class="tree">
        <!--Family tree infos-->
    </div>

    <script src="../static/js/main.js"></script>
</body>
</html>